# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
venv/
resume-ranking/

# Data
data/raw/*
!data/raw/.gitkeep

# Model artifacts
models/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbartifacts/
*.pkl
artifacts/
*.pkl
